<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="includes/head :: head">
    <title id="pageTitle">Create a Recipe</title>
</head>

<!-- Custom Styling -->
<link rel="stylesheet" th:href="@{'/css/recipe/recipe_form.css'}">
<script th:src="@{'/js/recipe/add_step.js'}"></script>

<body>
<!-- Header -->
<header th:replace="includes/header :: header"></header>

<!-- Main -->
<main class="container-fluid align-items-center">

    <h1 class="title">Create a new Recipe</h1>

    <form action="/recipe/save" method="post" class="justify-content-center">
        <section>
            <div class="row gy-2" id="form-customer">
                <div class="col-12 col-sm input-box title">
                    <input type="text" id="title" name="title" placeholder="Title" class="form-control">
                </div>
                <div class="col-12 col-sm input-box description">
                <textarea id="description" name="description" cols="50" rows="5"
                          placeholder="Description" class="form-control"></textarea>
                </div>
                <div class="col-12 col-sm input-box timeInMinutes">
                    <input type="number" id="timeInMinutes" class="form-control" name="time" placeholder="Time minutes" min="1">
                </div>
            </div>
        </section>
        <hr>

        <!----------------------------- INGREDIENTS ---------------------->
        <section>
            <h3 class="title">Products</h3>
            <a type=button id="btn-ingredient" class="btn btn-success">+</a><br>

            <table id="add_ingredient" class="container-fluid">
                <thead id="add_ingredient_head">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit/Value</th>
                </tr>
                </thead>
                <tbody id="add_ingredient_body">
                <tr class="new-ingredient">
                    <th scope="col" class="form-control">1</th>
                    <td>
                        <input type="text" id="ingredient" class="form-control" name="ingredient" placeholder="Ingredient">
                    </td>
                    <td>
                        <input type="number" id="productQuantity" class="form-control" name="quantity" min="0">
                    </td>
                    <td>
                        <select id="measurementUnit" class="form-control" name="unit">
                            <option selected>Choose...</option>
                            <option value="g">G</option>
                            <option value="kg">KG</option>
                            <option value="cl">CL</option>
                            <option value="l">L</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>

        <hr>

        <!-- ------------------------ ADD STEP ------------------------------>
        <section class="section3">
            <h3>Steps</h3>
            <div id="add_step">
                <label class="step" for="step1">Step1</label>
                <input type="text" id="step1" name="step" class="form-control" style="height: 90px">
                <br>
            </div>
            <a type=button id="btn-step" class="btn btn-success">+</a><br>
        </section>
        <hr>

        <!-- ------------------------------------------------------------------->
        <section class="section4">
            <h3>Allergens</h3>
            <ul>
                <th:block th:each="flag : ${flagList}">
                    <li>
                        <input type="checkbox" id="flag" th:name="'flag-' + ${flag.getId()}">
                        <label for="flag" th:text="${flag.getName_en()}"></label>
                    </li>
                </th:block>
            </ul>
        </section>
        <hr>

        <!-- ------------------------------------------------------------------->
        <section class="section5">
            <h3>Image</h3>
            <input class="form-control" name="imgSrc" type="file" id="formFile">
        </section>
        <hr>

        <!-- ------------------------------------------------------------------->
        <div class="botones">
            <input id="submit" class="btn btn-success" type="submit" value="Submit"><br><br>
        </div>
    </form>
    <form action="/recipe/view" method="post">
        <div class="botones">
            <a href="" id="back" type="submit" class="btn btn-secondary" th:href="@{'/recipe/view'}">BACK</a>
        </div>
    </form>
</main>

<!-- Footer -->
<footer th:replace="includes/footer :: footer"></footer>
</body>
</html>