<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="includes/head :: head">
    <title id="pageTitle">Create a Recipe</title>
</head>

<!-- Custom Styling -->
<link rel="stylesheet" th:href="@{'/css/recipe/recipe_form.css'}">
<script th:src="@{'/js/recipe/add_step.js'}"></script>

<body>
<!-- Header -->
<header th:replace="includes/header :: header"></header>

<!-- Main -->
<main class="container align-items-center">
    <h1 class="title">NEW RECIPE</h1>
    <form action="/recipe/save" method="post" class="justify-content-center">
        <div class="row gy-2" id="form-customer">
            <div class="col-12 col-sm input-box title">
                <input type="text" id="title" name="title" placeholder="Title" class="form-control">
            </div>
            <div class="col-12 col-sm input-box description">
                <input type="text" id="description" name="description" placeholder="Description"
                       class="form-control">
            </div>
            <div class="col-12 col-sm input-box timeInMinutes">
                <input type="number" id="timeInMinutes" class="form-control" name="time" placeholder="Time minutes" min="1">
            </div>
        </div>
        <hr>

        <!-----------------------------INGREDIENTES---------------------->
            <h3 class="title">Products</h3>

        <ul id="add_ingredient">
                <li class="new-ingredient">
                    <label class="ingredient" for="ingredient">Ingredient 1</label>
                    <input type="text" id="ingredient" name="ingredient" placeholder="Ingredient">
                    <br>
                    <label class="form-label quantity" for="productQuantity">Quantity</label>
                    <input type="number" id="productQuantity" name="quantity" min="1">
                    <br>
                    <label class="form-label" for="measurementUnit">Unit</label>
                    <select id="measurementUnit" name="unit">
                        <option value="gr">GR</option>
                        <option value="kg">KG</option>
                        <option value="cl">CL</option>
                        <option value="l">L</option>
                    </select>
                </li>
        </ul>
            <a type=button id="btn-ingredient" class="btn btn-success">+</a><br>
        <hr>

        <!-- ------------------------ Add Step------------------------------>
        <section class="section3">
            <h3>Steps</h3>

            <div id="add_step">
                <label class="step" for="step1">Step1</label>
                <input type="text" id="step1" name="step" class="form-control" style="height: 90px">
                <br>
            </div>
            <a type=button id="btn-step" class="btn btn-success">+</a><br>
        </section>
        <hr>
        <!-- ------------------------------------------------------------------->
        <section class="section4">
            <h3>Alergens</h3>
            <th:block th:each="flag : ${flagList}">
                <input type="checkbox" id="flag" name="flag">
                <label for="flag">[[${flag.getName_en()}]]</label>
            </th:block>
        </section>
        <hr>
        <!-- ------------------------------------------------------------------->
        <section class="section5">
            <h3>Image</h3>

            <input class="form-control" name="imgSrc" type="file" id="formFile">
        </section>
        <hr>
        <!-- ------------------------------------------------------------------->
        <div class="botones">
            <input id="submit" class="btn btn-success" type="submit" value="Submit"><br><br>
        </div>
    </form>
    <form action="/recipe/view" method="post">
        <div class="botones">
            <a href="" id="back" type="submit" class="btn btn-secondary" th:href="@{'/recipe/view'}">BACK</a>
        </div>
    </form>
</main>

<!-- Footer -->
<footer th:replace="includes/footer :: footer"></footer>
</body>
</html>