<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">Recipe List</title>
</head>
<body>
    <!-- Custom Styling -->
    <link rel="stylesheet" th:href="@{'/css/recipe/recipe_view.css'}">
    <!-- JS -->
    <script th:src="@{'/js/recipe/multiselect_recipe_view.js'}"></script>

    <!-- Header -->
    <header th:replace="includes/header :: header"></header>

    <form id="form-select-pages" action="/recipe/view" method="get">
        <div id="search">
            <div id="search-form" class="form-inline">
                <th:block th:if="${#strings.isEmpty(keyword)}">
                    <input id="search-box" class="form-control mr-sm-2" name="keyword" type="text" placeholder="Search..." aria-label="Search...">
                </th:block>
                <th:block th:unless="${#strings.isEmpty(keyword)}">
                    <input id="search-box" class="form-control mr-sm-2" name="keyword" type="text" placeholder="Search..." aria-label="Search..." th:value="${keyword}">
                </th:block>
                <button id="search-submit" class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
            </div>
        </div>

        <div class="button_bar custom-select">
                <select id="flag-multiselect" name="flags" class="selectpicker w-30" data-style="btn btn_back" multiple title="Filter">
                        <th:block th:each="flag : ${flagList}">
                            <th:block th:if="${#lists.contains(selectedFlags, flag.getId().toString())}">
                                <option th:name="${flag.getId()}" th:value="${flag.getId()}" selected>[[${flag.getNameEn()}]]</option>
                            </th:block>
                            <th:block th:unless="${#lists.contains(selectedFlags, flag.getId().toString())}">
                                <option th:name="${flag.getId()}" th:value="${flag.getId()}">[[${flag.getNameEn()}]]</option>
                            </th:block>
                        </th:block>
                </select>
                <a th:href="@{'/recipe/create'}" class="w-30 btn btn-dark btn_back">Create</a>
        </div>

        <!-- Main -->
        <main class="container-fluid">
            <div id="card-container">
                <th:block th:each="recipe : ${recipeList}">
                    <div class="card mb-3" >
                        <a th:href="@{'/recipe/view/'+${recipe.getId()}}" class="recipe_card">
                            <div class="row no-gutters">
                                <div th:if="${recipe.getImgSrc() == null || recipe.getImgSrc().equals('')}">
                                    <img src="/media/imgs/recipe/recipe-base.png" class="card-img" alt="Default Recipe Image">
                                </div>
                                <div th:unless="${recipe.getImgSrc() == null || recipe.getImgSrc().equals('')}">
                                    <img src="/media/imgs/recipe/recipe-base.png" class="card-img" th:alt="${recipe.getTitle()}">
                                </div>
                                <div>
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${recipe.getTitle()}"></h5>
                                        <p class="card-text" th:text="${recipe.getDescription()}"></p>
                                        <p class="card-text" th:text="${recipe.getTimeInMinutes() + ' min'}"></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </main>
        <div class="pagination_form containers-fluid">
            <button type="submit" name="page-move" class="btn btn-dark" th:value="previous">Previous</button>
            <div class="d-flex">
                <label class="form-control">Page:
                    <input style="border: none" class="fw-normal" type="number" name="page" th:value="${page}" readonly>
                </label>
            </div>
            <button type="submit" name="page-move" class="btn btn-dark" th:value="next">Next</button>
        </div>
    </form>

    <!-- Footer -->
    <footer th:replace="includes/footer :: footer"></footer>
</body>
</html>

