<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">Personal Recipe List</title>
</head>
<body>
<!-- Custom Styling -->
<link rel="stylesheet" th:href="@{'/css/recipe/recipe_view.css'}">

<!-- Header -->
<header th:replace="includes/header :: header"></header>

<div class="search">
    <button class="btn  btn_search"> Search</button>
</div>

<div class="button_bar">
    <form th:action="@{/product/back}" method="post" class="justify-content-center">
        <button type="submit" class="btn btn-dark btn_back">Filter</button>
    </form>

    <form th:action="@{/product/back}" method="post" class="justify-content-center">
        <button type="submit" class="btn btn-dark btn_back">Order</button>
    </form>

    <form th:action="@{/recipe/create}" method="get" class="justify-content-center">
        <button type="submit" class="btn btn-dark btn_back">Add</button>
    </form>
</div>

<!-- Main -->
<main class="container-fluid">
    <div id="card-container">
        <th:block th:each="recipe : ${recipeList}">
            <div class="card mb-3" >
                <a th:href="@{'/recipe/view/'+${recipe.getId()}}" class="recipe_card">
                    <div class="row no-gutters">
                        <div>
                            <img src="/media/imgs/ensalada_prueba.png" class="card-img" th:alt="${recipe.getTitle()}">
                        </div>
                        <div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${recipe.getTitle()}"></h5>
                                <p class="card-text" th:text="${recipe.getDescription()}"></p>
                                <p class="card-text" th:text="${recipe.getTimeInMinutes() + ' min'}"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </th:block>
    </div>
    <div class="pagination_form">

        <form action="/recipe/view" method="get">
            <label>Page: <input type="number" name="page" th:value="${page}" readonly></label>
            <button type="submit" name="page-move" class="btn btn-dark" th:value="previous">Previous</button>
            <button type="submit" name="page-move" class="btn btn-dark" th:value="next">Next</button>
        </form>
    </div>
</main>

<!-- Footer -->
<footer th:replace="includes/footer :: footer"></footer>
</body>
</html>
