<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="includes/head :: head">
    <title id="pageTitle">Good & Cheap</title>
</head>

<!-- Custom Styling -->
<link rel="stylesheet" th:href="@{'/css/recipe/recipe_individual_view.css'}">

<script th:src="@{'/js/recipe/recipe_view.js'}"></script>

<body>
<!-- Header -->
<header th:replace="includes/header :: header"></header>

<!-- Main -->
<main>
    <h1>[[${recipe.getTitle()}]]</h1>

    <a href="" id="btn-share"><i class="fa fa-link"></i></a>

    <p>[[${recipe.getDescription()}]]</p>
    <a th:href="@{'/recipe/view/user/'+${recipe.getAuthor().getId}}" class="username">[[${recipe.getAuthor().getUsername}]]</a>

    <img src="/media/imgs/ensalada_prueba.png" class="card-img" alt="...">
    <a><div class="report">Report<img src="/media/imgs/alert.png"></img></div></a><br>
    <h4>Duration</h4> <label>[[${recipe.getTimeInMinutes()}]] mins</label><br>
    <br>
    <h4>Alergen</h4>

    <th:block th:each="flag : ${recipe.getRecipeFlags}">
        <ul>
            <li><label th:text="${flag.getNameEn()}"></label></li>
        </ul>
    </th:block>
    <br>
    <br>
    <h4>Ingredients</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ingredient</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit/Value</th>
            </tr>
        </thead>
        <tbody>
        <th:block th:each="ingredient : ${recipe.getIngredients}">
            <tr>
                <td th:text="${ingredient.getProductType().getNameEn()}"></td>
                <td th:text="${ingredient.getQuantity()}"></td>
                <td th:text="${ingredient.getProductType().getMeasurementUnit()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <br>
    <h4 class="elaboration">Elaboration</h4>
    <th:block th:each="step : ${steps}">
        <div class="step">
            <h5>Step [[${step.getStepNum}]]</h5>
            <label>[[${step.getDescription()}]]</label><br>
        </div>
        <br>
    </th:block>



</main>


<!-- Footer -->
<footer th:replace="includes/footer :: footer"></footer>
</body>


