<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="includes/head :: head">
    <title id="pageTitle">Recipe List</title>
</head>

<!-- Custom Styling -->
<link rel="stylesheet" th:href="@{'/css/recipe/recipe_view.css'}">

<body>
    <!-- Header -->
    <header th:replace="includes/header :: header"></header>

    <!-- Main -->
    <main>
        <th:block th:each="recipe : ${recipeList}">
           <div class="card mb-3" style="max-width: 540px;">
               <a th:href="@{'/recipe/view/'+${recipe.getId()}}" class="recipe_card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/media/imgs/ensalada_prueba.png" class="card-img" th:alt="${recipe.getTitle()}">
                        <!-- <img th:src="${recipe.getImgSrc()}" class="card-img" th:alt="${recipe.getTitle()}"> -->
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${recipe.getTitle()}"></h5>
                            <p class="card-text" th:text="${recipe.getDescription()}"></p>
                            <p class="card-text" th:text="${recipe.getTimeInMinutes() + ' min'}"></p>
                        </div>
                    </div>
                </div>
               </a>
            </div>
        </th:block>
        <form action="/recipe/view" method="get">
            <label>Page: <input type="number" name="page" th:value="${page}" readonly></label>
            <button type="submit" name="page-move" th:value="previous">Previous</button>
            <button type="submit" name="page-move" th:value="next">Next</button>
        </form>
    </main>

    <!-- Footer -->
    <footer th:replace="includes/footer :: footer"></footer>
</body>
</html>

