<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">Create a Recipe</title>
</head>
<body>
<!-- js Libraries -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Custom Styling -->
<link rel="stylesheet" th:href="@{'/css/recipe/recipe_form.css'}">

<!-- Header -->
<header th:replace="includes/header :: header"></header>

<!-- Main -->
<main class="container-fluid align-items-center">
    <h2 class="title display-2 mx-auto" th:text="${recipe.getTitle()}"></h2>

    <section id="recipe-introduction">
        <div class="form-floating">
            <span></span>
        </div>
        <div class="form-floating">
                <textarea id="description" class="form-control" style="height: 25vh"
                          name="description" placeholder="Description" maxlength="255"></textarea>
            <label for="description">Description</label>
        </div>
        <div class="form-floating">
            <input type="number" id="timeInMinutes" class="form-control" name="time"
                   placeholder="Time in minutes" min="1" required>
            <label for="timeInMinutes">Time in minutes</label>
        </div>
    </section>
    <hr>

    <!----------------------------- INGREDIENTS ---------------------->
    <section id="recipe-ingredients">
        <h3 class="title display-6">Ingredients</h3>
        <table id="add_ingredient" class="table table-bordered table-responsive">
            <thead id="add_ingredient_head">
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-5">Ingredient</th>
                <th scope="col" class="col-2">Quantity</th>
                <th scope="col" class="col-3">Unit/Value</th>
            </tr>
            </thead>
            <tbody id="add_ingredient_body">
            <tr class="new-ingredient" th:each="ingredient : ${recipe.getIngredientList()}">
                <th scope="row" class="ingredient-id align-middle"
                    th:text="${recipe.getIngredientList().indexOf(ingredient) + 1}"></th>
                <td class="ingredient-description">
                    <span th:text="${ingredient.getProductType().getNameEn()}"></span>
                </td>
                <td class="ingredient-quantity">
                    <span th:text="${ingredient.getQuantity()}"></span>
                </td>
                <td class="ingredient-unit">
                    <span th:text="${ingredient.getProductType().getMeasurementUnit()}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
    <hr>

    <!-- ------------------------ ADD STEP ------------------------------>
    <section class="recipe-step">
        <h3 class="title display-6">Steps</h3>
        <div id="recipe-steps">
            <div class="card recipe-step mb-3"  th:each="step : ${steps}">
                <div class="card-header space-between">
                    <span id="card-header-title-1" class="badge bg-secondary rounded-pill order"
                          th:text="${step.getStepNum()}"></span>
                </div>
                <div class="card-body">
                    <span th:text="${step.getDescription()}"></span>
                </div>
            </div>
        </div>
    </section>


    <form th:action="@{'/recipe/view'}" method="get">
        <div class="button">
            <input id="back" type="submit" class="btn btn-secondary" value="BACK">
        </div>
    </form>
</main>

<!-- Footer -->
<footer th:replace="includes/footer :: footer"></footer>
</body>
</html>