<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/head :: head">
    <title id="pageTitle">Good & Cheap</title>
</head>
<body>
    <!-- Header -->
    <header th:replace="includes/header :: header"></header>

    <!-- Main -->
    <main>  
        <div id="buttons">
            <a href="/login/sign-in">Login</a>
            <a href="/login/logout">Logout</a>
        </div>
    </main>

    <!-- Footer -->
    <footer th:replace="includes/footer :: footer"></footer>
</body>
</html>