<table th:fragment="error_table" th:if="${status != null}" class="table table-bordered">
    <caption>Error elements of the table</caption>
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>status</td>
            <td th:text="${status}"></td>
        </tr>
        <tr>
            <td>error</td>
            <td th:text="${error}"></td>
        </tr>
        <tr>
            <td>path</td>
            <td th:text="${path}"></td>
        </tr>
        <tr>
            <td>Trace</td>
            <td th:text="${trace}"></td>
        </tr>
    </tbody>
</table>