<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Role</title>
</head>
<body>
<h1>Create User</h1>
<form action="/role/save" method="post">
    <table>
        <tbody>
        <tr>
            <td><label for="name">Role Name</label></td>
            <td><input type="text" id="name" name="name"></td>
        </tr>
        <tr style="text-align: center">
            <td><input type="submit" value="Submit"></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>