<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">Set a Role</title>
</head>
<body>
    <!-- Header -->
    <header th:replace="includes/header :: header"></header>
    <!-- Main -->
    <form action="/role/set" method="post">
        <table class="d-flex justify-content-center">
            <caption>Set a role</caption>
            <thead>
                <tr>
                    <th scope="col">Field</th>
                    <th scope="col">Input</th>
                </tr>
            </thead>
            <tbody class="d-flex">
                <tr>
                    <td><label for="username" class="form-control">Email</label></td>
                    <td><input type="text" id="username" class="form-control" name="username"></td>
                </tr>
                <tr>
                    <td><label for="name" class="form-control">Role Name</label></td>
                    <td><input type="text" id="name" class="form-control" name="name"></td>
                </tr>
                <tr>
                    <td class="container">
                        <input type="submit" class="btn btn-green" value="Submit">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <!-- Footer -->
    <footer th:replace="includes/footer :: footer"></footer>
</body>
</html>