<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Role</title>
</head>
<body>
    <form action="/role/set" method="post">
        <table>
            <tbody>
            <tr>
                <td><label for="username">Email</label></td>
                <td><input type="text" id="username" name="username"></td>
            </tr>
            <tr>
                <td><label for="name">Role Name</label></td>
                <td><input type="text" id="name" name="name"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>