:root{
  --mubisoft-lightgrey: #EFEFEF;
  --mubisoft-darkgrey: #302E2E;
}

#recipe-introduction > * {
  margin: 0.5rem;
}

th {
  text-align: center;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
}