main{
    margin:20px;
}

a {
    text-decoration: none !important;
    color: rgb(48, 46, 46) !important;
}

a:link, a:visited, a:active{
    text-decoration: none !important;
}

.recipe_card:hover{
    color: #EBECE1 !important;
    background: #302E2E !important;
    border-color: black;
    border-radius: inherit;
}


