<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/head :: head">
    <title id="pageTitle">User Form</title>
</head>
<body>
<!-- Header -->
<header th:replace="includes/header :: header"></header>

<!-- Main -->
<main>
    <div class="container">
                <form action="/user/changepassword"  method="post" class="justify-content-center">
                    <div class="row gy-2" id="form-customer">
                        <div class="col-12">
                            <input type="password" placeholder="Old password" name="old" class="form-control">
                        </div>
                        <div class="col-12">
                            <input type="password" placeholder="New password" name="new" class="form-control">
                        </div>
                        <div class="col-12">
                            <input type="password" placeholder="Repeat password" name="repeat" class="form-control">
                        </div>
                    </div>
                    <div class="row gy-2 mt-3">
                        <div class="col-12">
                            <button type="submit" class="form-control btn btn-dark">CHANGE PASSWORD</button>
                        </div>
                    </div>
                </form>
    </div>
</main>
<!-- Footer -->
<footer th:replace="includes/footer :: footer"></footer>
</body>
</html>