<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="includes/head :: head">
    <title id="pageTitle">User Form</title>
</head>

<!-- Custom Styling -->
<script th:src="@{'/js/user/user_list.js'}"></script>

<body>
<!-- Header -->
<header th:replace="includes/header :: header"></header>

<main  class="container">
    <h1 class="badge bg-secondary">Product list ROLE_ADMIN ONLY</h1>
    <select id="role-dropdown" name="role" class="col-12 form-select">
        <option  value="" disabled selected>Please select a role</option>
        <th:block th:each="role : ${roleList}">
            <option th:value="${role.getId()}">[[${role.getName()}]]</option>
        </th:block>
        <option th:value="-1">ALL USERS</option>
    </select>
    <table class="table">
        <thead>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Second Name</th>
        <th scope="col">Username</th>

        </thead>
        <tbody id="tbody"></tbody>
    </table>
</main>
<!-- Footer -->
<footer th:replace="includes/footer :: footer"></footer>
</body>
</html>