<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="includes/head :: head">
    <title id="pageTitle">Product List</title>
</head>

<!-- Custom Styling -->
<link rel="stylesheet" th:href="@{'/css/product/product_list.css'}">

<body>
<!-- Header -->
<header th:replace="includes/header :: header"></header>
<!-- Main -->
<main>

    <div class="search">
        <button class="btn  btn_search"> Search</button>
    </div>

    <div class="button_bar">
        <form th:action="@{/product/back}" method="post" class="justify-content-center">
            <button type="submit" class="btn btn-dark btn_back">Filter</button>
        </form>

        <form th:action="@{/product/back}" method="post" class="justify-content-center">
            <button type="submit" class="btn btn-dark btn_back">Order</button>
        </form>

        <form th:action="@{/product/create}" method="get" class="justify-content-center">
            <button type="submit" class="btn btn-dark btn_back">Add</button>
        </form>
    </div>
    <div>
        <th:block th:each="product : ${productList}">
            <div  class="product_card">
                <div class="card_title">
                    <h2 th:text="${product.getName_es()} + ': '
                    + ${#numbers.formatDecimal(product.getQuantity(), 1, 2)} + ' '
                    + ${product.getProductType().getMeasurementUnit().toLowerCase()}"></h2>
                </div>
                <div class="card_body">
                    <img th:src="@{'/media/imgs/yogurt.png'}" alt="Yogurt">
                    <h4 th:text="${product.getVendor().getName() + ' ' + product.getVendor().getSecondName()}"></h4>
                    <h3 th:text="${#numbers.formatDecimal(product.getPrice(), 1, 2)} + '€'"></h3>
                </div>
            </div>
        </th:block>
        <form action="/product/view" method="get">
            <label>Page: <input type="number" name="page" th:value="${page}" readonly></label>
            <button type="submit" name="page-move" th:value="previous">Previous</button>
            <button type="submit" name="page-move" th:value="next">Next</button>
        </form>
    </div>
</main>
<!-- Footer -->
<footer th:replace="includes/footer :: footer"></footer>
</body>
</html>