<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">Product details</title>
</head>
<body>
        <!-- Custom Styling -->
        <link rel="stylesheet" th:href="@{'/css/product/product_current.css'}">
        <!-- Custom Script -->
        <script th:src="@{'/js/product/product.js'}"></script>
        <!-- Header -->
        <header th:replace="includes/header :: header"></header>

        <!-- Main -->
        <main  class="container">
        <div class="product_view_center">
            <th:block th:if="${product.getProductType() == null || #strings.isEmpty(product.getProductType().getImgSrc())}">
                <img th:src="@{'/media/imgs/product/gc_bag.png'}" alt="Product icon" class="product_image item1">
            </th:block>
            <th:block th:unless="${#strings.isEmpty(product.getProductType().getImgSrc())}">
                <img th:src="${'/media/imgs/product/' + product.getProductType().getImgSrc()}" th:alt="${product.getNameEn() + ' Image'}" class="product_image item1">
            </th:block>
            <div class="item2">
                <h1 th:text="${product.getNameEn()}"></h1>
                <div class="product_view_horizontal">
                    <div class="quantity_dates">
                        <h3 th:text="${'Quantity: '} + ${#numbers.formatDecimal(product.getQuantity(), 1, 2)} + ${product.getProductType().getMeasurementUnit().toLowerCase()}"></h3>
                        <h3 th:text="'Publish Date :  ' + ${product.getPublishDate()}"> </h3>
                        <h3 th:text="'Expiration Date :  ' + ${product.getExpirationDate()}"> </h3>
                    </div>
                    <div class="product_price">
                        <h2 th:text="${#numbers.formatDecimal(product.getPrice, 0, 'COMMA', 2, 'POINT')} + '€'"></h2>
                    </div>
                </div>
                <a class="btn btn-dark" th:href="'/recipe/view?keyword='+${product.getNameEn()}">RECIPIES</a>
            </div>

            <div class="item3" th:if="${product.getVendor() != null}">
                <div class="product_view_horizontal_bajo" >
                    <th:block th:if="${#strings.isEmpty(product.getVendor().getImagePath())}">
                        <img th:src="@{'/media/imgs/gc_profile.png'}" alt="Product icon" class="vendor_img">
                    </th:block>
                    <th:block th:unless="${#strings.isEmpty(product.getVendor().getImagePath())}">
                        <img th:src="@{${product.getVendor().getImagePath()}}" alt="Profile Icon" class="vendor_img">
                    </th:block>

                    <div>
                        <h3 th:text="${product.getVendor().getName()}"></h3>
                        <h3 th:text="${product.getVendor().getLocation().getStreet()}+', '+${product.getVendor().getLocation().getCity().getCityCode()}"></h3>
                        <h3 th:text="${product.getVendor().getLocation().getCity().getName()}+', '+${product.getVendor().getLocation().getCity().getProvince().getName()}"></h3>
                    </div>
                </div>
                <button class="btn btn-light" onclick="history.back()">BACK</button>
            </div>
        </div>
</main>
<!-- Footer -->
<footer th:replace="includes/footer :: footer"></footer>
</body>
</html>