<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="includes/head :: head">
    <title id="pageTitle">Login</title>
</head>

<!-- Custom Styling -->
<link rel="stylesheet" th:href="@{'/css/user/login.css'}">
<script th:src="@{'/js/user/login.js'}"></script>

<body>
    <!-- Header -->
    <header th:replace="includes/header :: header"></header>

    <!-- Main -->
    <main>
        <div class="container">
            <div class="row" >


                <div class="col-12 col-sm-12 col-md-6 col-lg-6 hidden">
                    <img src="back.jpg" alt="" style="width:100%";>
                </div>
                <div class="center_signIn">

                <div class="login_ilustration">
                    <img th:src="@{'/media/imgs/ilustration.png'}" alt="G&C Ilustration">

                </div>
                    <div class="right_login" >
                        <div class="btn-group mt-3 login_button" id="button-parent">
                            <a id="signin"  th:classappend="${pageTitle == 'login_form' ? 'current' : ''}" class="col btn custom-btn-signin btn-lg selected"  th:href="@{'/login/sign-in'}">SIGN IN</a>
                            <a id="signup"  th:classappend="${pageTitle == 'user_form' ? 'current' : ''}" class=" col btn custom-btn-signup btn-lg" th:href="@{'/user/create'}">SIGN UP</a>
                        </div>
                    <div class="mt-4 col-12 col-sm-12 col-md-6 col-lg-6 login_forms">
                        <form action="/login" method="post"  class="justify-content-center">
                            <div class="row gy-4 login_form" id="form-customer">
                                <div class="col-12 col-sm-6 input-box">
                                    <input type="email" class="form-control" placeholder="Email"  name="username" id="inputEmail">
                                    <span>
                                        <i class="fas fa-envelope custom-form-icon" id="iconEmail"></i>
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 input-box">
                                    <input type="password" placeholder="Password" name="password" class="form-control" id="inputPassword">
                                    <span>
                                        <i class="fas fa-lock custom-form-icon" id="iconPassword"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row gy-2 mt-3">
                                <div class="col-12">
                                    <button type="submit" class="form-control btn btn-dark">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer th:replace="includes/footer :: footer"></footer>
</body>
</html>
